.gallery {
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 30px;

  border: 1px solid #bfbfbf;
}

.gallery__big {
  max-height: 377px;

  margin-bottom: 12px;
}

.gallery ul {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery__small {
  padding: 4px;
  margin-bottom: 10px;
  margin-right: 10px;

  border: 1px solid #bfbfbf;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.gallery__small img {
  height: 140px;
}

@media(min-width: $width-2) {
  .gallery ul {
    justify-content: space-between;
  }

  .gallery__small {
    margin-right: 0;
  }

  .gallery__big {
    height: 377px;
  }
}
